html, body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	font-weight: 300;
	fill: #242424;
	text-align: center;
	//text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
	cursor: default;
		  overflow-x: hidden;

}

.legend {
	font-family: 'Raleway', sans-serif;
	fill: #333333;
}

.tooltip {
	fill: #333333;
}

.stats {
	padding-top: 20px;
	padding-bottom: 100px;
	padding-left: 40px;
	height: 800px;
	background: #fdf6f0;
  	margin: 0;


}


.fields {
	margin: 0;
/*  	position: absolute;
  	top: 30%;*/
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	align-items: left;
  	text-align: left;
  	 position: relative;
	top: 50%;
	left: 43%;
}


#sugar {
		position: relative;
		left: 20px;

}

#exercise {
	position: relative;
	left: 1px;
}

#button {
	position: relative;
	text-align: center;
	align-items: center;
	left: 6%;
}

.a1c {
	text-align: left;
	padding-bottom: 20px;
	padding-left: 40px;
}

#radarChart {
	padding-top: 250px;
	height: 800px;

}

img {
	width: 8%;
/*	float: left;
*/	position: relative;
/*left: 40%;
*/}

caption {
	font-size: 3px;
}

#summary-container {
	height: 800px;
	margin: 0;
	width: 100vw;

}

/*#summary-content span {
	display: inline;
	position: relative;
	margin: 0;
}*/

#summary-content {
	padding-top: 50px;
	float: right;
	width: 45%;
	text-align: left;

}

#summary-content li{
		list-style-type: none;
		margin: 0;
/*		padding-bottom: 80px;
*/
}

#summary-content ul {
	margin: 0;
	position: relative;
	display: inline;
}

#summary-header {
	text-align: right;
	padding-right: 50px;
	font-size: 36px;
}

hr {
	border: 3px solid #f3a184;
}

.stats h1 {
	margin: 0;
	position: relative;
	top: 40%;
	text-align: center;

}

#heart-container {
left: 47%;		
display: table-caption;
width: 200px;
/*	//padding-bottom: 5px;
*/	position: relative;
}

#foot-container {
		position: relative;

left: 40%;	display: table-caption;
width: 200px;
/*	padding-bottom: 5px;
*/}
#veins-container {
		position: relative;

left: 40%;		
display: table-caption;
width: 200px;
/*	padding-bottom: 5px;
*/}

#nerve-container {
		position: relative;

left: 39%;		
display: table-caption;
width: 200px;
/*	padding-bottom: 5px;
*/}
#kidney-container {
		position: relative;

	left: 44%;		
display: table-caption;
width: 200px;
/*	padding-bottom: 5px;
*/}

/**/